---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Impressum">
  <div class="pt-32 pb-16 md:pt-48">
    <div class="container mx-auto px-6 md:px-12 max-w-3xl">
      <h1 class="font-serif text-4xl text-stone-800 mb-8">Impressum</h1>
      <div class="prose-kofler space-y-4">
        <p><strong>Betreiber der Website</strong></p>
        <p>Familie Griesser<br/>Koflerhof<br/>39040 Kastelruth / Tisens<br/>Südtirol, Italien</p>
        <p>Telefon: +39 0471 706 038<br/>Mobil: +39 340 4191634<br/>E-Mail: info@koflerhof.bz</p>
        <p>Mehrwertsteuernummer: [Steuer-Nr. eintragen]</p>
        <p>Zuständige Aufsichtsbehörde: [Behörde eintragen]</p>
        <p><strong>Haftungsausschluss:</strong> Die Inhalte dieser Website wurden sorgfältig erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.</p>
      </div>
    </div>
  </div>
</Layout>
