---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Note legali">
  <div class="pt-32 pb-16 md:pt-48">
    <div class="container mx-auto px-6 md:px-12 max-w-3xl">
      <h1 class="font-serif text-4xl text-stone-800 mb-8">Note legali</h1>
      <div class="prose-kofler space-y-4">
        <p><strong>Gestore del sito web</strong></p>
        <p>Famiglia Griesser<br/>Koflerhof<br/>39040 Castelrotto / Tisens<br/>Alto Adige, Italia</p>
        <p>Telefono: +39 0471 706 038<br/>Mobile: +39 340 4191634<br/>E-mail: info@koflerhof.bz</p>
        <p>Partita IVA: [inserire P.IVA]</p>
        <p>Autorità di vigilanza competente: [inserire autorità]</p>
        <p><strong>Esclusione di responsabilità:</strong> I contenuti di questo sito web sono stati preparati con cura. Tuttavia non possiamo garantire l'esattezza, la completezza e l'attualità dei contenuti.</p>
      </div>
    </div>
  </div>
</Layout>
